{% extends "base.html.twig" %}
{% block content %}
    <div class="container">
    <p class="error">{{ data.error }}</p>
    <form method="post">
        <div class="mb-3">
            <label>Name goods</label>
            <input type="text" name="name" placeholder="Name goods" required class="form-control">
        </div>
        <div class="mb-3">
            <label>Image url</label>
            <input type="text" name="little_img" placeholder="Image" class="form-control">
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input type="text" name="price" placeholder="Price" required class="form-control">
        </div>
        <div class="mb-3">
            <label>Name Author Goods</label>
            <input type="text" name="name_author_goods" placeholder="NameAuthorGoods" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </hr>
        <a href="/">Return to goods list</a>
    </div>
{% endblock %}

