{% extends "base.html.twig" %}
{% block content %}
    <div class="container">
        <ul class="list-group">
            {% for info in data %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>Name</b>
                    <span class="badge badge-primary badge-pill">{{ info.name }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>Rating</b>
                    <span class="badge badge-primary badge-pill">{{ info.rating_avg }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <b>Image</b>
                    <img class="img-thumbnail" width="200" height="200" src="{{ info.little_img }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}