<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8">
    <title>Aggregator Review</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {#    {% block stylesheets %}#}
{#    {% endblock %}#}
</head>
<body class="admin-interface">
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary sidebar-switcher" href="#">
            <i class="fa fa-bars"></i>
        </a>
        <div class="sidebar-collapse dd">
            {#{{ knp_menu_render('sidebar', {'allow_safe_labels': true}) | raw }}#}
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        {% block title %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>base twig</h2>
                </div>
            </div>
        {% endblock %}
        <div class="wrapper-content animated">
            <div class="row">
                {% block header %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
{% endblock %}
{% block customscripts %}
{% endblock %}
</body>
</html>
