<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="/test/asset/styles.css" type="text/css">
</head>
<body>
<a href = "/test/books">Books</a> | <a href="\test\">Students</a>
<hr>
{% block content %}
{% endblock %}
</body>
</html>
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>My Webpage</title>#}
{#</head>#}
{#<body>#}
{#<ul id="navigation">#}
{#    {% for item in navigation %}#}
{#        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>#}
{#    {% endfor %}#}
{#</ul>#}

{#<h1>My Webpage</h1>#}
{#{{ a_variable }}#}
{#</body>#}
{#</html>#}